<div class="jumbotron">
    <h1>HostBinding</h1>
    <p>El HostBinding aplica una clase container</p>
    <p>De aquí en adelante todas letras estaran en color rojo, por el uso del @HostBinding.</p>
</div>

<p>Capitales de América:</p>
<ul>
    <li *ngFor="let item of capitales">
        <app-x-objetos [x]="item"></app-x-objetos>
    </li>
</ul>

<hr class="my-4">
<p>Países de América:</p>
<p>A continuación se muestran ciertos países de América.</p>
<form>
    <div class="form-group col-6">
        <label for="nombre-pais">Nombre del país</label>
        <input type="text" class="form-control" id="nombre-pais" aria-describedby="nombreHelp" #nombrePais>
        <small id="nombreHelp" class="form-text text-muted">Ingresa algún país que no este en el listado.</small>
    </div>
    <button type="submit" class="btn btn-primary" (click)="addNewItem(nombrePais.value)">Ingresar nuevo país</button>
</form>
<hr class="my-4">

<div class="row row-cols-1 row-cols-md-5">
    <div class="col mb-4" *ngFor="let item of listaItem">
        <div class="card">
            <img src="../../assets/img/continente-americano.jpg" class="card-img-top" alt="mapa de América" width="100" height="250">
            <div class="card-body">
                <!-- <h5 class="card-title">Card title</h5> -->
                <!-- <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> -->
                <app-x-objetos [x]="item"></app-x-objetos>
            </div>
        </div>
    </div>
</div>