<p>
    prueba-compon works!
</p>

<div class="container content">

    <div class="row">
        <div class="col-md-6">
            <div class="alert alert-primary" role="alert">
                Hola
            </div>
        </div>
        <div class="col-md-6">
            <div class="alert alert-primary" role="alert">
                mundo
            </div>
        </div>

    </div>

</div>

<input name="titulo" type="text" #titulo>
<input name="titulo" type="submit" (click)="agregar(titulo.value)">