<!-- <p>
    {{x}}
</p> -->


<div class="contairner content">
    <div class="row">
        <div class="col-md-4">
            <div class="alert alert-info" role="alert">
                {{x}}
            </div>
        </div>
    </div>
</div>