<!-- <p>
  listado-item works!
</p> -->

<ul>
    <li *ngFor="let item of listaItem">
        <app-x-item [x]="item"></app-x-item>
    </li>
</ul>
<!-- <app-x-item [x]="item"></app-x-item> -->

<!-- <app-x-item *ngFor="let item of listaItem" [x]="item"></app-x-item> -->