<div class="contairner content">
    <div class="row">
        <div class="col-md-8">
            <div class="alert alert-info" role="alert">
                {{x}}
            </div>
        </div>
    </div>
</div>